h1 {
    text-align: center;
}

ul {
    list-style: none;
}

h3 {
    margin: 0;
    font-family: 'open_sansbold',Arial,sans-serif;
}
li {
    margin-bottom: 15px;
    font-family: 'open_sansbold',Arial,sans-serif;
    color: #343434;
    font-size: 100%;
    font-weight: bold;
}

p {
    font-family: 'open_sansbold',Arial,sans-serif;
}

.main {
    float: left;
    margin-left: 10%;
    width: 400px;
}

.left {
    float: left;
    margin-left: 15%;
}

.inf {
    margin-bottom: 40px;

}

.pro {
    margin-bottom: 40px;
}
i:before {
    content: '\e91b';
}

.pro {
    border-bottom: 3px solid #efefef;
}

li span {
    background: #343434;
    display: inline-block;
    border-radius: 100%;
    height: 12px;
    width: 12px;
}

.transparent {
    opacity: .1;
}

