h1 {
    text-align: center;
}

.main {
    float: left;
    margin-left: 10%;
    width: 400px;
}

.left {
    float: left;
    margin-left: 15%;
}

.inf {
    margin-bottom: 40px;

}

.pro {
    margin-bottom: 40px;
}
i:before {
    content: '\e91b';
}
